body {

  
    padding: 0;
  
    margin: 0;
  
    background-color: #f8f9fa!important;
  
  
}

main{
    width: 100%;
    height: 700px;

    margin-bottom: 80px;
}

table{
    background-color: #ffffff;
}
table a{
     
    padding: 4px 15px;
    cursor: pointer;
}

table img{
    width: 32px;
    height: 32px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
    color: white;
  }